<h3 align="center">尻取りしましょ</h3>

<h6 align="center">次のことばをクリックして、平仮名か片仮名で、続けて！</h6>
<% unless @word.nil? %>
  <h1 align="center">【<%= link_to @word.content, words_path %>】</h1>
<% end %>

<div class="container">
  <%= render 'layouts/sidebar' %>
</div>
