<h3 align="center">尻取りしましょ</h3>

<h4 align="center"></h6>

<% unless @word.nil? %>
  <h1 align="center"><%= image_tag 'yubiMizu.png', :size => '30x20' %>【<%= link_to @word.content, words_path %>】</h1>
<% end %>

<div class="container">
  <%= render 'layouts/sidebar' %>
</div>
