  <p>
    <div>
    <dl>
      <dt>尻取りとは：</dt>
      <dd>前のことばの最後の音で始まることばを、順ぐりに続けていくことば遊び</dd>
    </dl>
    <dl>
      <dt>言葉づくしとは：</dt>
      <dd>Web上で利用できる、ことばの用例集（尻取りとともに充実）</dd>
    </dl>

    <p><strong>ゆる〜い「尻取りルール」</strong>
      <div>
       <p><strong>&nbsp;＊前のことばが「んンゃゅょっャュョッぁぃぅぇぉァィゥェォー」で終わったら、</strong>
        <ul style="list-style:none">
          <li>【その直前の音】で始める</li>
          <ul style="list-style:square">
            <li>かん【ら】ん→【ラ】ジオ</li>
            <li>はい【し】ゃ→【し】ゃちく</li>
            <li>そこ【か】っ→【か】き</li>
            <li>バッ【タ】ァ→【た】んじゅん</li>
            <li>かっ【こ】ー→【こ】うちょう</li>
            <li>「かっこう」や「がっこう」なら、「う」</li>
            <li>「こんぴゅうたあ」なら、「あ」で始める</li>
          </ul>
        </ul>
      <p><strong>&nbsp;＊同じ音のことばを何度使ってもいい</strong>
        <ul style="list-style:none">
            <div>
            <dl>
              <dt>普通の尻取りでは、</dt>
              <dd>同じ音のことばを使うと、さっき使ったからダメなんて言うが…。</dd>
            </dl>
          <% if current_user.username == "名無しの権兵衛" %>
            <dl>
              <dt>続きは、ユーザ登録するか、ログインしてから…。</dt>
            </dl>
          <% else %>
            <dl>
              <dt>同じ音のことばがあったら、</dt>
              <dd>そのことばを使った用例を書けばいい。</dd>
            </dl>
            <dl>
              <dt>同音異義語でも、</dt>
              <dd>そのことばを使った、他の用例を書けばいい。</dd>
            </dl>
            <dl>
              <dt>同じ音のことばでなければ、</dt>
              <dd>用例は書かなくてもいいけれど、書いてくれたら嬉しい。</dd>
            </dl>
            <dl>
              <dt>尻取りしながら、</dt>
              <dd>素敵な、著作権フリーの用例文集を作るのさ、と、狸の皮算用。</dd>
            </dl>
            <% end %>
          </div>
        </ul>
    </div>
  </div>
