  <p>
    <div>
    <dl>
      <dt>尻取りとは：</dt>
      <dd>前のことばの最後の音で始まることばを、順ぐりに続けていく、ことば遊び</dd>
    </dl>
    <dl>
      <dt>言葉づくしとは：</dt>
      <dd>Web上で利用できる、ことばの用例集（尻取りとともに充実）</dd>
    </dl>

    <p><strong>ゆる〜い「尻取りルール」</strong>
      <div>
       <p><strong>&nbsp;＊前のことばが「んンゃゅょっャュョッぁぃぅぇぉァィゥェォー」で終わったら、</strong>
        <ul style="list-style:none">
          <li><strong>その《直前の音》で〈次のことばを始め〉る</strong></li>
          <li>例)&nbsp;かん《ら》ん➡〈ら〉ん《し》ゃ➡〈し〉ゅう《た》ぁ➡〈た〉ん《じ》ゅん➡〈じ〉《ろ》ー➡〈ろ〉うれい</li>
        </ul>
      <p><strong>&nbsp;＊同じ音のことばを何度使ってもいい</strong>
        <ul style="list-style:none">
            <div>
            <dl>
              <dt>普通の尻取りでは、</dt>
              <dd>同じ音のことばを使うと、さっき使ったからダメなんて言うが…。</dd>
            </dl>
          <% if current_user.username == "名無しの権兵衛" %>
            <dl>
              <dt>続きは、「名を残す」か、ログインしてから…。</dt>
            </dl>
          <% else %>
            <dl>
              <dt>同じ音のことばがあったら、そのことばを使った用例を書いて。</dt>
              <dd>例)&nbsp;【こうとう】「口頭試験」「高等学校」「物価が高騰」「口答で伝える」「エースの好投で勝利」「江東区在住」</dd>
            </dl>
            <dl>
              <dt>同じ音のことばでなければ、</dt>
              <dd>用例は書かなくてもいいけれど、書いてくれたら嬉しい。</dd>
            </dl>
            <dl>
              <dt>尻取りしながら、</dt>
              <dd>素敵な、著作権フリーの用例文集を作るのさ、と、（食えぬ）狸の皮算用。</dd>
            </dl>
            <% end %>
          </div>
        </ul>
    </div>
  </div>
