  <div>
    <dl>
      <dt>尻取りとは：</dt>
      <dd>前の人の言った言葉の最後の音節をとって、それで始まる新しい言葉を、順ぐりに続ける言葉遊び</dd>
    </dl>
    <dl>
      <dt>言葉づくしとは：</dt>
      <dd>Web上で利用できる、言葉の使い方集（尻取りとともに充実）</dd>
    </dl>
    <p>ゆる〜い「尻取りルール」：
      <div>
       <p><strong>前の言葉が「ん」で終わったら、</strong>
        <ul style="list-style:none">
          <li>➡【「ん」の直前の文字】か</li>
          <li>➡【「ん」の直前の文字＋「ん」】で始める</li>
          <ul>
            <li>かん【ら】ん→【ら】じお</li>
            <li>かん【らん】→【らん】かん</li>
          </ul>
        </ul>
       <p><strong>最後が「っ」「ゃ」「ゅ」「ょ」なら、</strong>
        <ul style="list-style:none">
          <li>➡大文字にして【「つ」「や」「ゆ」「よ」】か</li>
          <li>➡【直前の文字＋「っ」「ゃ」「ゅ」「ょ」】で始める</li>
          <ul>
            <li>そこか【っ】→【つ】めあと、はいし【ゃ】→【や】くそく</li>
            <li>そこ【かっ】→【かっ】とばす、はい【しゃ】→【しゃ】ちく</li>
          </ul>
        </ul>
       <p><strong>最後が「ぱ」「ば」「が」「ざ」「だ」のように濁っていたら、</strong>
        <ul style="list-style:none">
          <li>➡そのまま始めるか</li>
          <li>➡濁っていない【「は」「か」「さ」「た」】で始める</li>
          <ul>
           <li>さん【ぽ】→【ぽ】っぽ、さん【ば】→【ば】んど</li>
           <li>さん【ぽ】→【ほ】っと、さん【ば】→【は】んと<　/li>
          </ul>
        </ul>
       <p><strong>最後が長音「ー」ならば、</strong>
        <ul style="list-style:none">
          <li>➡【直前の文字＋「ー」】か</li>
          <li>➡【直前の文字＋伸ばした音「あ」「い」「う」「え」「う」のどれか】で始める</li>
          <ul>
            <li>かっ【こー】→【こー】ちょう、がっ【こー】→【こう】ちょう</li>
            <li>「かっこう」や「がっこう」なら、「う」、「こんぴゅうたあ」なら、「あ」で始める</li>
          </ul>
        </ul>
      <p><strong>同じ音の言葉を何度でも使える</strong>
        <ul style="list-style:none">
          <li>【その詳細はこちらボタン】※未登録・非ログインの場合は、クリックできない。</li>
        </ul>
    </div>
  </div>
