  <p>
    <div>
    <dl>
      <dt>尻取りとは：</dt>
      <dd>前のことばの最後の音で始まることばを、順ぐりに続けていくことば遊び</dd>
    </dl>
    <dl>
      <dt>言葉づくしとは：</dt>
      <dd>Web上で利用できる、ことばの用例集（尻取りとともに充実）</dd>
    </dl>

    <p><strong>ゆる〜い「尻取りルール」</strong>
      <div>
       <p><strong>&nbsp;＊前のことばが「んンゃゅょっャュョッぁぃぅぇぉァィゥェォー」で終わったら、</strong>
        <ul style="list-style:none">
          <li>【その直前の音】で始める</li>
          <ul>
            <li>かん【ら】ん→【ラ】ジオ</li>
            <li>はい【し】ゃ→【し】ゃちく</li>
            <li>そこ【か】っ→【か】き</li>
            <li>バッ【タ】ァ→【た】んじゅん</li>
            <li>かっ【こ】ー→【こ】うちょう</li>
            <li>「かっこう」や「がっこう」なら、「う」</li>
            <li>「こんぴゅうたあ」なら、「あ」で始める</li>
          </ul>
        </ul>
      <p><strong>&nbsp;＊同じ音のことばを何度使ってもいい</strong>
        <ul style="list-style:none">
          <li>【くわしくはこちら】※未登録・非ログインの場合は、クリックできない。</li>
        </ul>
    </div>
  </div>
